* {
    margin: 0;
    padding: 0;
}

body {
    background: #f5f5f5;
}

li {
    list-style: none;
}

/*-------------------------------------------------导航条部分*/
.noFloat li {
    float: none;
}

.fix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.header {
    width: 100%;
    height: 32px;
    border: 1px solid #E5E5E5;
    background: #F2F2F2;
}

.lb {
    width: 1260px;
    margin: 0 auto;
}

/*.header .lb .headLeft{*/
/*float: left;*/
/*}*/
.header .lb .headLeft li {
    float: left;
}

.header .lb .headLeft li span, .header .lb .headLeft li a {
    line-height: 32px;
    color: #999;
    font-size: 12px;
}

.header .lb .headLeft li a {
    padding: 0 10px 0 15px;
    text-decoration: none;
}

.header .lb .headLeft li a:hover {
    color: red;
}

.header .lb .headRight, .header .lb .headLeft {
    display: inline-block;
}

.header .lb .headRight {
    margin-left: 480px;
}

.header .lb .headRight li {
    float: left;
    padding: 0 10px;
}

.header .lb .headRight li span {
    font-size: 12px;
    color: red;
}

.header .lb .headRight li a {
    text-decoration: none;
    line-height: 32px;
    font-size: 12px;
    color: #999;
}

.header .lb .headRight li a:hover {
    color: red;
}

.header .lb .headRight li i {
    font-size: 8px;
    color: #999;
}

.header .lb .headRight > li:nth-child(1) {
    position: relative;
}

.header .lb .headRight > li:nth-child(1):hover ul {
    display: block;
}

.header .lb .headRight > li:nth-child(1) ul {
    display: none;
    position: absolute;
    top: 31px;
    z-index: 15;
    width: 94px;
    border: 1px solid #E5E5E5;
    border-top: none;
    background: #fff;
}

.header .lb .headRight > li:nth-child(1) ul li a {
    font-size: 12px;
    line-height: 24px;
    color: #858585;
}

.header .lb .headRight > li:nth-child(3) {
    position: relative;
}

.header .lb .headRight > li:nth-child(3):hover ul {
    display: block;
}

.header .lb .headRight > li:nth-child(3) ul {
    display: none;
    position: absolute;
    top: 31px;
    z-index: 15;
    width: 84px;
    border: 1px solid #E5E5E5;
    border-top: none;
    background: #fff;
}

.header .lb .headRight > li:nth-child(3) ul li a {
    font-size: 12px;
    line-height: 24px;
    color: #858585;
}

.header .lb .headRight > li ul li a:hover {
    color: red;
}

.header .lb .headRight > li:nth-child(4) {
    margin: 8px 0 0 -15px;
    width: 1px;
    height: 15px;
    border: none;
    border-right: 1px solid #8c8c8c;
}

.header .lb .headRight > li:nth-child(5) {
    position: relative;
}

.header .lb .headRight > li:nth-child(5):hover .Eimg {
    display: block;
}

.header .lb .headRight > li:nth-child(5) .Eimg {
    display: none;
    position: absolute;
    top: 31px;
    left: -40px;
    height: 200px;
    overflow: hidden;
}

.header .lb .headRight > li:nth-child(5) .Eimg img:nth-child(2) {
    position: absolute;
    top: 172px;
    left: 16px;
}

.header .lb .headRight > li:nth-child(7) {
    position: relative;
}

.header .lb .headRight > li:nth-child(7):hover ul {
    display: block;
}

.header .lb .headRight > li:nth-child(7) ul {
    display: none;
    position: absolute;
    top: 31px;
    width: 122px;
    z-index: 15;
    border: 1px solid #E5E5E5;
    border-top: none;
    background: #fff;
}

.header .lb .headRight > li:nth-child(7) ul li:nth-child(1) {
    border-bottom: 1px dotted #8c8c8c;
}

.header .lb .headRight > li:nth-child(7) ul li p {
    margin-bottom: -5px;
}

.header .lb .headRight > li:nth-child(8) {
    position: relative;
}

.header .lb .headRight > li:nth-child(8):hover ul {
    display: block;
}

.header .lb .headRight > li:nth-child(8) ul {
    padding: 20px;
    display: none;
    position: absolute;
    top: 31px;
    left: -1030px;
    z-index: 15;
    width: 1124px;
    border: 1px solid #E5E5E5;
    border-top: none;
    background: #fff;
}

.header .lb .headRight > li:nth-child(8) ul li {
    float: left;
    width: 300px;
    height: 200px;
    border-right: 1px solid #d5d5d5;
}

.header .lb .headRight > li:nth-child(8) ul li:nth-child(1) p {
    font-size: 16px;;
    color: #F56A00;
}

.header .lb .headRight > li:nth-child(8) ul li:nth-child(1) a {
    display: inline-block;
    width: 90px;
}

.header .lb .headRight > li:nth-child(8) ul li:nth-child(2) {
    padding-left: 50px;
}

.header .lb .headRight > li:nth-child(8) ul li:nth-child(2) p {
    font-size: 16px;;
    color: #608FE0;
}

.header .lb .headRight > li:nth-child(8) ul li:nth-child(2) a {
    display: inline-block;
    width: 64px;
}

.header .lb .headRight > li:nth-child(8) ul li:nth-child(3) {
    padding-left: 50px;
}

.header .lb .headRight > li:nth-child(8) ul li:nth-child(3) p {
    font-size: 16px;;
    color: #000;
}

.header .lb .headRight > li:nth-child(8) ul li:nth-child(3) a {
    display: inline-block;
    width: 76px;
}

.header .lb .headRight > li:nth-child(8) ul li:nth-child(4) {
    width: 180px;
    padding-left: 50px;
    border: none;
}

.header .lb .headRight > li:nth-child(8) ul li:nth-child(4) p {
    font-size: 16px;;
    color: #000;
}

.header .lb .headRight > li:nth-child(8) ul li:nth-child(4) a {
    display: inline-block;
    width: 76px;
}

/*---------------------------------------------------------------------天猫搜索*/
.container {
    width: 100%;
    padding: 0;
}

.sou > img, .sou > div {
    float: left;
}

.sou > img {
    width: 240px;
    margin-left: -20px;
}

.sou > div {
    margin: 40px 0 0 100px;
}

.sou > div input:nth-child(1) {
    font-size: 14px;
    padding-left: 10px;
    height: 38px;
    width: 490px;
    border: 2px solid #FF0036;
    outline: none;
}

.sou > div input:nth-child(2) {
    margin-left: -10px;
    width: 134px;
    height: 38px;
    border: none;
    background: #FF0036;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.sou > div ul li {
    margin: 5px 0;
    float: left;
    padding: 0 12px;
    border-left: 1px solid #d5d5d5;
}

.sou > div ul li a {
    color: #858585;
    text-decoration: none;
}

.sou > div ul li:nth-child(1) {
    padding-left: 5px;
    border: none;
}

.sou > div ul li:nth-child(1) a,
.sou > div ul li:nth-child(4) a,
.sou > div ul li:nth-child(7) a,
.sou > div ul li:nth-child(9) a {
    color: red;
}

/*-------------------------------------------------侧边条*/
div.ce {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 30px;
    height: 100%;
    background: #000000;
}

.ce ul li span {
    margin-left: 5px;
    color: #fff;
    font-size: 20px;
}

.ce ul li {
    position: relative;
    margin-top: 5px;
    padding: 5px 0;
}

.ce ul li:hover {
    background: #ff0036;
}

.ce ul li:nth-child(1) {
    margin-top: 130px;
}

.ce ul li:nth-child(1):hover div,
.ce ul li:nth-child(3):hover div,
.ce ul li:nth-child(4):hover div,
.ce ul li:nth-child(5):hover div,
.ce ul li:nth-child(6):hover div,
.ce ul li:nth-child(7):hover div,
.ce ul li:nth-child(8):hover div,
.ce ul li:nth-child(9):hover div {
    display: block;
}

.ce ul li:nth-child(1) div,
.ce ul li:nth-child(3) div,
.ce ul li:nth-child(4) div,
.ce ul li:nth-child(5) div,
.ce ul li:nth-child(6) div,
.ce ul li:nth-child(7) div,
.ce ul li:nth-child(9) div {
    display: none;
    width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    right: 36px;
    top: 0;
    background: #494949;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.ce ul li:nth-child(8) div {
    display: none;
    position: absolute;
    right: 36px;
    top: -80px;
    width: 150px;
    height: 150px;
    background: #ff0036;
    border-radius: 10px;
}

.ce ul li:nth-child(8) div img {
    width: 100px;
    margin: 25px;
}

.ce ul li:nth-child(2) {
    padding-top: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.ce ul li:nth-child(2) span:nth-child(1) {
    color: #dd002f;
}

.ce ul li:nth-child(2):hover span:nth-child(1) {
    color: #ffffff;
}

.ce ul li:nth-child(2) p {
    margin-left: 7px;
    font-size: 14px;
    color: #fff;
}

.ce ul li:nth-child(6) span {
    width: 18px;
    padding-left: 2px;
    margin: 3px 0 3px 7px;
    display: block;
    font-size: 12px;
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 2px;
}

.ce ul li:nth-child(7) {
    margin-top: 80px;
}

/*-------------------------------------搜索下的一条*/
.row1 {
    width: 100%;
    height: 36px;
    border-bottom: 2px solid #ff0036;
}

.row1 .lb div {
    float: left;
    width: 200px;
    height: 36px;
    background: #ff0036;
}

.row1 .lb div span {
    color: #ffffff;
    padding-left: 10px;
}

.row1 .lb div p {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
    color: #ffffff;
}

.row1 .lb ul {
    float: left;
    margin: 0;
}

.row1 .lb ul li {
    float: left;
    padding: 0 8px;
}

.row1 .lb ul li img {
    width: 100px;
    margin-bottom: 4px;
}

.row1 .lb ul li a {
    line-height: 36px;
    font-size: 16px;
    text-decoration: none;
    color: #333;
}

.row1 .lb ul li a:hover {
    color: red;
}

.swiper-pagination-bullet {
    display: inline-block;
    width: 25px;
    height: 6px;
    background: rgb(16, 16, 16);
    border-radius: 0;
}

.swiper-pagination-bullet-active {
    background: rgb(246, 246, 246);
}

.swiper-container img {
    width: 1319px;
}

.swiper-container .swiper-wrapper {
    width: 1319px;
    height: 500px;
    overflow: hidden;
}

/*--------------------------------------商品分类*/
.swip {
    position: relative;
}

.swip .left-S {
    position: absolute;
    top: 0;
    left: 45px;
    z-index: 10;

    width: 200px;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
}

.swip .left-S li {
    padding-left: 30px;
}

.swip .left-S li:hover {
    background: #fff;
}

.swip .left-S li:hover a {
    color: #e54007;
}

.swip .left-S li .showS {
    display: none;
    width: 700px;
    height: 500px;
    position: absolute;
    left: 200px;
    top: 0;
    padding: 0 20px;
    background: #ffffff;
}

.swip .left-S > li > a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    line-height: 31px;
}

.swip .left-S li .showS li {
    margin: 25px 0;
}

.swip .left-S li .showS li div {
    float: left;
}

.swip .left-S li .showS li div:nth-child(1) {
    width: 90px;
    font-weight: bold;
    font-size: 14px;
}

.swip .left-S li .showS li div:nth-child(2) {
    margin-left: 30px;
}

.swip .left-S li .showS li div:nth-child(2) a {
    color: #858585;
    font-size: 14px;
    padding-right: 15px;
    text-decoration: none;
}

/*-------------------------------------------------------------------------悬浮*/
div.topnav {
    display: none;
    position: fixed;
    top: 0;
    height: 50px;
    width: 1348px;
    background: #fe0c40;
}

div.topnav .lb img {
    float: left;
    margin-top: 15px;
}

div.topnav .lb input {
    float: left;
}

div.topnav .lb input:nth-child(2) {
    margin-left: 130px;
    display: block;
    width: 650px;
    height: 30px;
    border: none;
    margin-top: 12px;
}

div.topnav .lb input:nth-child(3) {
    padding: 0 15px;
    display: block;
    width: 80px;
    height: 30px;
    border: none;
    margin-top: 12px;
    background: #fe0c40;
    color: #fff;
    font-size: 16px;
}

.leftnav {
    position: fixed;
    left: 3px;
    top: 210px;
}

.leftnav li {
    width: 36px;
    height: 36px;
    padding: 5px;
    background: #626262;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    margin-top: 1px;
}

.leftnav li:nth-child(1), .leftnav li:nth-child(10) {
    height: 30px;
    line-height: 20px;
}

.leftnav li:nth-child(1) {
    background: #FF0036;
}

.leftnav li:nth-child(10) {
    background: #ababab;
}

.body .L1 {
    margin: 30px 0;
}

.body .L1 img {
    float: left;
    height: 170px;
}

.body .L2 img {
    float: left;
    margin-right: 14px;
}
